.pie {
  background: linear-gradient(180deg, #D3C4B3 0%, #F3EFEB 60%, #FCFAF9 100%);
  padding: 50px;
  color: #383D40;
  font-family: "Montserrat";
}

.titulo-pie {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.grid-pie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
}

.columna {
  display: flex;
  flex-direction: column;
}

.columna h3 {
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: 600;
}

.columna a {
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.columna a:hover {
  color: #99ABB8;
}

.icono-principal {
  width: 55px;
}

.pie-centro .titulo-icono {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.ilustracion-final {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

.ilustracion-final img {
  width: 120px;
  border-radius: 10px;
  transform: rotate(3deg);
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.ilustracion-final img:nth-child(2) {
  transform: rotate(-4deg);
}

.ilustracion-final img:nth-child(3) {
  transform: rotate(2deg);
}

.ilustracion-final img:hover {
  transform: scale(1.05) rotate(0deg);
}

@media (max-width: 1024px) {
  .grid-pie {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-pie {
    grid-template-columns: 1fr;
  }

  .ilustracion-final {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .ilustracion-final img {
    width: 80px;
  }
}
