.navbar-custom {
  background-color: #E6EDEF;
  font-family: 'Montserrat';

  .navbar-brand {
    color: #494E51;
    font-weight: bold;
    margin-right: auto;
  }

  .logo {
    height: 55px;
    margin-right: 20px;
  }

  .nav-link {
    color: #494E51;
    margin-right: 10px;

    &:hover,
    &.active {
      color: black;
    }
  }

  .dropdown-menu {
    background-color: #E6EDEF;
    text-align: center;

    .dropdown-item {
      color: #494E51;

      &:hover {
        background-color: #494E51;
        color: #FCFAF9;
      }
    }
  }

  .offcanvas {
    background-color: #E6EDEF;
    width: 250px;

    .offcanvas-title {
      color: #494E51;
    }
  }

  .dropdown-menu {
    min-width: 200px;
    width: 20px;
  }

  form {
    .form-control {
      background-color: #F3EFEB;
      border: 1px solid #C9D7DD;
    }

    .btn {
      background-color: #CEB9A6;
      color: #494E51;
      border: none;

      &:hover {
        background-color: #494E51;
        color: #FCFAF9;
      }
    }
  }

  @media (min-width: 1024px) {
    .navbar-nav {
      gap: 10px;
      margin-left: 4rem;
      justify-content: flex-start;
    }
  }

  @media (min-width: 1280px) {
    .navbar-nav {
      gap: 10px;
      margin-left: 20rem;
      justify-content: flex-start;
    }
  }
}
