.navbar { /*ESTA BIEN*/
  background-color: transparent;
  transition: background-color .6s, box-shadow .6s, height .6s, margin-top .6s;
  height: 80px;
  margin-top: 20px;
}

.navbar.scrolled { /*ESTA BIEN*/
  background-color: white;
  height: 70px;
  margin-top: 0;
}

.Logo {  /*ESTA BIEN*/
  width: 160px;
  transition: width .5s;
}

.navbar.scrolled .Logo { /*ESTA BIEN*/
  width: 140px;
}

/* Links
.navbar-brand,
.nav-link {
  color: #fff;
  transition: .3s;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #8e0469;
  transition: .3s;
}

.nav-link:hover {
  color: #8e0469;
}

.nav-link:hover::after {
  width: 100%;
}*/


/* Header Texto */
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #111827;
  color: #fff;
  padding: 20px;
  z-index: 99999;
  box-shadow: 5px 0 15px rgba(0,0,0,0.4);
  transition: left .3s;
}

.sidebar.open { left: 0; }

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.sidebar-header .close-btn {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  transition: .3s;
}

.sidebar-header .close-btn:hover {
  color: #8e0469;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.sidebar-menu li { margin: 15px 0; }

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  transition: .3s;
}

.sidebar-menu a:hover { color: #8e0469; }

/* Overlay */
.overlay {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,.45);
  display: none;
  z-index: 99998;
}

.overlay.show { display: block; }

/* Open Sidebar Button */
.open-sidebar-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: #111827;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100000;
  display: none;
}

.open-sidebar-btn i { font-size: 25px; color: white; }

/* RESPONSIVE */
@media (max-width: 992px) {
  .open-sidebar-btn { display: block; }
  .navbar-collapse { display: none !important; }
  .navbar-toggler { display: none; }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 0;
    background: black;
    overflow: hidden;
    opacity: 0;
    padding-top: 120px;
    text-align: center;
    transition: height .45s, opacity .45s;
  }
  .navbar-collapse.show { height: 100vh; opacity: 1; }
  .nav-link { font-size: 1.5rem; margin: 20px 0; }
  .dropdown-menu { background: transparent; border: none; text-align: left; }
  .dropdown-item { color: #fff; }
  .dropdown-toggle::after { display: none; }
}
