.img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contenedor {
  background: #E6EDEF;
  padding: 2rem;
  font-family: 'Montserrat';
}

.titulo {
  text-align: center;
  font-size: 2.6rem;
  color: #494E51;
  margin-bottom: 2rem;
  font-weight: bold;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.postcard {
  padding: 1.8rem;
  background: #C9D7DD;
  border-radius: 18px;
  position: relative;
  color: #494E51;

  &::before {
    content: "";
    position:absolute;
    inset: 0;
    padding: 14px;
    border-radius: 14px;
    background:
      repeating-linear-gradient(
        90deg,
        #ABBCC4 0 40px,
        #C9D7DD 40px 80px
      );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 14px;
    border: 2px solid #ABBCC4;
  }

  * {
    position: relative;
  }
    transition: transform 0.35s ease, box-shadow 0.35s ease;

}

.postcard:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.postcard h3 {
  color: #494E51;
  font-size: 1.2rem;
  margin-bottom: .7rem;
}

.cargando p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
